body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}
main{
    margin-top: 7vh;
}
/* center the contents */
.center{
    text-align: center;
    width: 100vw;
}

/* Center the elements of footer */
footer nav ul li{
    font-size: 20px;
    color: white;
    display: block;
}

/* Wallpaper of Our team Section */
.our-team{
    color: white;
    background: url("../img/team-cover1.jpg");
    background-size: cover;
}

/* Underline the Title of label */
.title label{
    text-decoration: underline;
}
.title{
    font-size: 30px;
    padding-top: 60px;
    text-transform: uppercase;
    text-align: center;
}

/* Contact Us form Wallpaper */
.contact-us{
    color: white;
    background: url('../img/Background01.jpg');
    background-size: cover;
}
.contact-form{
    background-color: white;
    border-radius: 5px;
    padding: 0px 20px;
    margin: auto 20vw;
    opacity: 0.8;
}

/*Info card*/
#Workflow {
    padding: 40px 0px 80px;
    background-color: #fff;
    color: #333;
}
#Workflow .work-process::after {
    content: "";
    position: absolute;
    background: #f1f3f5;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
#Workflow .work-process:hover::after {
    background: rgba(209, 211, 124, 0.22);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}
#Workflow .work-process {
    background-color: #333;
    padding: 40px 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 30px 0px -20px #ffffff;
    margin-bottom: 30px;
    border-bottom: 3px solid #ccc31a;
    text-align: center;
}
#Workflow .work-process i {
    margin: 0 auto;
    display: table;
    color: #ffffff;
    background-color: rgb(255, 205, 0);
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
}
#Workflow .work-process h3 {
    margin: 15px 0px;
}
#Workflow .work-process h3 a {
    font-size: 20px;
    color: rgb(249, 213, 67);
}
#Workflow .work-process p {
    color: rgba(255, 216, 61, 0.738);
}